{% extends '@MoviePortal/base.html.twig' %}
{% block content %}
    {% for movie in movies %}
        <a href="{{ path('movie_by_id', {'id': movie.id}) }}">{{ movie.title }} - {{ movie.releaseDate|date("Y") }}</a>
        <br>
    {% endfor %}
{% endblock %}