<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Portal - Admin Page</title>
</head>
{% include '@MoviePortal/style.html.twig' %}
<body>
{% block menu %}
    <div>
        <ul>
            <li><a href="{{ path('show_posts_admin') }}" class="active">All Post</a></li>
            <li><a href="{{ path('create_post_form') }}">Create Post</a></li>
            <li><a href="{{ path('show_all_categories') }}">Category</a></li>
            <li><a href="{{ path('show_all_movies') }}">Movie Base</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>
