<ul>
    <li><a href="" class="active">Add Movie</a></li>
    <li><a href="{{ path('show_all_directors') }}" class="active">Add Directors</a></li>
    <li><a href="" class="active">Add Writers</a></li>
    <li><a href="" class="active">Add Actors</a></li>
    <li><a href="" class="active">Add Genre</a></li>
    <li><a href="" class="active">Add Movie</a></li>
    <li><a href="" class="active">Add Movie</a></li>
</ul>