<form method="post" action="{{ path('show_all_movies_query') }}">
    <input type="text" name="string" placeholder="search Movie by title, director, writers, actors or genre"><input type="submit" value="Send">
</form>