{% extends '@MoviePortal/baseAdmin.html.twig' %}
{% block content %}
    <div>
        <ol>
            {% for post in posts %}
                <div><a href="{{ path('modify_post', {'id': post.id }) }}">{{ post.name }}</a></div><br>
            {% endfor %}
        </ol>
    </div>
{% endblock %}