{% extends '@MoviePortal/baseAdmin.html.twig' %}
{% block content %}
    <div>
        <ol class="list">
            {% for post in posts %}
                <li><a href="{{ path('modify_post', {'id': post.id }) }}">{{ post.name }}</a></li></br>
            {% endfor %}
        </ol>
    </div>
{% endblock %}