{% extends '@MoviePortal/base.html.twig' %}
{% block content %}
    {% for post in posts %}
        <div align="center"><b> {{ post.name }}</b></div></br>
        <div align="center">{{ post.contentHtml }}</div>
        <div align="center"><i> {{ post.category.name }}</i></div></br>
    {% endfor %}
{% endblock %}